<div class="container">
  <h3>
    <ol class="breadcrumb" style="float:left; font-size: 16px">
      <li><a ui-sref="detailCorpus({id: corpus.id})">{{ corpus.title }}</a></li>
      <li class="active">{{ doc.id }}</li>
    </ol>
    <!-- messages -->
    <button ng-show="MESSAGES.SYNTAX_ERROR" type="button"
            class="btn btn-danger btn-xs disabled">AMR Syntax Error
    </button>
    <button ng-show="MESSAGES.CREATE_SUCCESS" type="button"
            class="btn btn-success btn-xs disabled">Document is
      saved successfully.
    </button>
    <div class="loader-xs" ng-show="MESSAGES.LOADING"></div>
    <div class="pull-right">
      <small>Status:</small>
      <button
          ng-class="{'btn btn-xs': true, 'btn-warning': doc.status == status.value}"
          ng-click="doc.status = status.value" ng-repeat="status in STATUSES">{{
        status.label }}
      </button>
      <small>Quality:</small>
      <button
          ng-class="{'btn btn-xs': true, 'btn-warning': doc.quality == quality.value}"
          ng-click="doc.quality = quality.value"
          ng-repeat="quality in QUALITIES">{{ quality.label }}
      </button>
      <button type="button" class="btn btn-primary btn-xs" ng-click="save()">
        Save
      </button>
      <!--<button type="button" class="btn btn-primary btn-success btn-xs"-->
              <!--ng-click="save(true)">Save and Create New-->
      <!--</button>-->
    </div>
  </h3>

  <div class="row">
    <div class="col-xs-12">
      <!--<hr/>-->
      <textarea id="text" class="form-control"
                rows="1" ng-model="doc.text">{{ doc.text }}</textarea>
      <br/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Sentiment Analysis">
      Sentiment Analysis
    </uib-tab>
    </uib-tab>
  </uib-tabset>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-xs-3">-->
      <!--<textarea id="amr" class="form-control"-->
                <!--rows="20" ng-model="doc.amr">{{ doc.amr}}</textarea>-->
    <!--</div>-->
    <!--<div class="col-xs-3">-->
      <!--<div id="amr_listview"></div>-->
    <!--</div>-->
    <!--<div class="col-xs-6">-->
      <!--<div id="mynetwork" style="height: 400px"></div>-->
    <!--</div>-->
  <!--</div>-->
  <h3>
    <hr/>
    <div class="pull-right">
      <button type="button" class="btn btn-primary btn-danger btn-sm"
              ng-click="delete()">Delete
      </button>
    </div>
  </h3>
</div>