<div class="row">
  <div class="col-xs-12">
    <h3>
      <ol class="breadcrumb" style="float:left; font-size: 16px">
        <li><a href="#">Sea Lion</a></li>
        <li>
          <a ui-sref="detailCorpus({id: corpusId})">Corpus {{ corpusId }}</a>
        </li>
        <li>
          New Document
        </li>
      </ol>
      <div class="pull-right">
        <button type="button" class="btn btn-success btn-sm" ng-click="save()">
          Save
        </button>
        <button type="button" class="btn btn-success btn-sm"
                ng-click="saveAndCreateNew()">
          Save and Create New
        </button>
      </div>

      <!-- messages -->
      <button ng-show="MESSAGES.TEXT_MISSING" type="button"
              class="btn btn-danger btn-xs disabled">Text field is required!
      </button>
    </h3>
  </div>
</div>
<hr style="margin-top: 0px"/>
<div class="row">
  <div class="col-xs-12">
        <textarea id="text" class="form-control"
                  rows="5" ng-model="doc.text"
                  placeholder="text">{{ doc.text }}</textarea>
    <br/>
  </div>
</div>
